.profile-details-name {
    font-size: 3vw;
}
.profile-details-role h1 {
    font-size: 2.5vw;
    font-family: "Hermit";
}

.primary-text {
    color: white;
}

.highlighted-text {
    color: var(--maroon)
}
.profile-role-tagline {
    font-size: 20px;
    margin-top: 5px;
    font-family: "Poppins Light";
}

.icons i{
    color: white;
    font-size: 1.33333333em;
}
 .icons i:hover {
    transform: scale(1.5);
}



.profile-img {
    height:300px; /* give your required height */
    width: 300px;
    background:url('https://avatars.githubusercontent.com/u/62679040?v=4');
    background-size:cover;

}
.profile-img-desktop {
    display: block
}
.profile-img-desktop .profile-img{
    float: right;
}
.profile-img-mobile {
    display: none;
}
.profile-img-mobile .profile-img {
    margin: auto;
}


@media screen and (max-width: 767px) {
    .profile-details-name {
        font-size: 2rem;
    }
    .profile-details-role h1 {
        font-size: 1.5rem;
        font-family: "Hermit";
    }
    .profile-role-tagline {
        font-size: 14px;
    }
    .profile-img-desktop {
        display: none;
    }
    .profile-img-mobile {
        display: block;
    }
    .profile-buttons {
        margin: auto;
    }
}
@media screen and (min-width: 1600px) {
    .profile-details-name {
        font-size: 3rem;
    }
    .profile-details-role h1 {
        font-size: 2.5rem;
        font-family: "Hermit";
    }
    .profile-role-tagline {
        font-size: 14px;
    }
}