.header-container {
    color: white;
  }
  .header-parent {
    align-items: center;
    color: white;
  }
  .header-logo {
    max-width: 350px;
    margin: auto;
    font-family: "Poppins ExtraBold";
    color: white;
  }
  .header-options {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-option {
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
  }
  .header-option-separator {
    margin: 0 50px 0 0;
    color: white;
  }
  .header-hamburger {
    display: none;
  }

  @media only screen and (min-width: 768px) {
    .header-logo {
      display: block;
      float: none;
      margin: 1rem auto !important;
    }
    .header-logo img {
      width: 100%;
    }
    .header-parent {
      display: block;
    }
    .selected-header-option {
      color: var(--maroon);
      font-weight: 600;
      font-family: 'Poppins Bold';
      font-size: 1.2rem;
    }
  }



  @media only screen and (max-width: 768px) {
    .header-container {
      padding: 1rem;
    }
    .header-logo {
      display: inline-block;
      float: right;
    }
    .header-logo img {
      width: 38vw;
    }
    .header-hamburger {
      display: block;
    }
    .header-parent {
      display: inline-block;
      position: relative;
    }
    .header-options {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: -50vw;
      transition: all 0.8s ease-out;
      top: 50px;
      height: 25vh;
      width: 50vw;
      justify-content: space-around;
      background-color: #000;
      z-index: 1000;
      opacity: 0.5;
    }
    .header-option-separator {
      margin: 0;
    }
    .selected-header-option {
      color: white;
    }
    .header-hamburger-bars {
      font-size: 36px;
      cursor: pointer;
      margin: 0px 10px;
      color: white;
    }
    .show-hamburger-options {
      left: 0;
      opacity: 1;
      padding-bottom: 40px;
    }
  }

