.home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 670px;
    background-image: url('../../assets/Home/bg-02.png');
}